@font-face {
  font-family: adobe-clean-regular;
  font-display: block;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/AdobeClean-Regular.ttf") format("truetype");
}

@font-face {
  font-family: adobe-clean-light;
  font-display: block;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/AdobeClean-Light.ttf") format("truetype");
}

@font-face {
  font-family: adobe-clean-black;
  font-display: block;
    font-style: normal;
  font-weight: 400;
  src: url("/fonts/AdobeClean-Black.otf") format("truetype");
}

@font-face {
  font-family: fraktur;
  font-display: block;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/WUSHIN.otf") format("truetype");
}